{% extends 'users/base.html' %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css"}>
<div class="container">
        <div class="row g-0">
            <div class="col-sm-6 col-md-8" id="header-text">
              <h1 id="header-h1" style="color: blueviolet;">O que é Açaí AI?</h1>
              <p id="header-paragraph" style="color: blueviolet;">Açaí AI é um chatBot(Básico) foi criado por André Luis e lançado em 2025.</p>
            </div>

            <div class="col-6 col-md-4" id="header-image"><img src="images/in-liquid-slide-2.svg " alt=""></div>
          </div>
</div>

{% endblock content %}